img.portrait 
{
  border:1px solid #444;
  box-shadow: 0px 0px 3px #333; 
  margin-right: 4px;
}

#people-list li 
{
  display: block;
  width: 160px;
  height: 230px;
  text-align: center;
  padding: 16px 10px;
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 5px;
  box-shadow: 0px 0px 10px #efefef; 
  font-size: 16px;
  line-height:26px;
  background: #fcfcfc;
}

#people-list li:hover 
{
  background: white;
}

#people-content 
{
  left: -25px;
  width: 1000px;
  padding: auto;
  position: relative;
}

#people-list 
{
  list-style-type: none;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 0;
  padding: 0;
  position: relative;
}
