#universities 
{
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 50px;
  text-align: center;
  
}  

#universities img 
{
  vertical-align: middle;
  margin-bottom: 10px;
  margin-top: 0px;
  margin-right: 20px;
  opacity:0.9;
  border: 0;
}

#universities img:hover 
{
  opacity:1;
}

#universities a:link, #universities a:visited 
 {
  border: 0px;
}

#universities a:hover 
{
  border: 0px;
  background: white;
}

#intro 
{
  padding-top: 10px;
}

#mw 
{
  display: none;
  position: relative;
  left: 55px;
  top: 20px;
}

#mw div.most-wanted 
{
  display: block;
  float: left;
  margin-left: 0px;
  margin-right: 30px;
  box-shadow: 0px 0px 10px #efefef; 
  width: 400px;
  border: 1px #efefef solid;
  background: #fcfcfc;
}

#mw div h3 
{
  display: block;
  margin: 0;
  padding: 10px;
  color: white;
}

#mw div:first-child h3 
{
  padding-left: 36px;
  background: url(icons/tools.png) no-repeat 12px 19px, #444;
}

#mw div:nth-child(2n) h3 
{
  padding-left: 40px;
  background: url(icons/pub.png) no-repeat 12px 19px, #444;
}


#mw div ul 
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 228px;
  overflow: auto;
}

#mw div ul li 
{
  padding-left: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 12px;
  border-bottom: 1px solid #efefef;
  background: #FCFCFC;
}

#mw div ul li:hover 
{
  background: white;
}

#mw div:first-child em:before 
{
  content: " — ";
}

#mw li.mw-overview 
{
  text-align: right;
}

#picture-header-wrapper {
  position: relative;
  margin: 0;
  width: 100%;
  background: -webkit-linear-gradient(top, #fff 0%,#fcfcfc 100%, rgba(41,184,229,1) 87%,rgba(2,174,237,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, #fff 0%,#fcfcfc 100%, rgba(41,184,229,1) 87%,rgba(2,174,237,1) 100%); /* Chrome10+,Safari5.1+ */

  padding: 0;
  border-top: 1px #fafafa solid;
  border-bottom: 1px #fafafa solid;
   padding-top: 20px;
  box-shadow: 0px 0px 4px #bbb; 
 }

#picture-header {
  position: relative;
  margin: 0px auto;
  width: 666px;
  height: 222px;
}

#picture-header .picture {
  position: relative;
  margin: 10px;
  border: 1px #bbb solid;
  padding: 0;
  box-shadow: 0px 0px 2px #bbb; 
  height: 200px;
  display: block;
  float: left;
}

.klebchen {
/*  background: url(../g/klebestreifen.png) no-repeat;*/
  background: rgba(239,227,2,0.9);
  -webkit-transform:rotate(-2deg);
  -moz-transform:rotate(-2deg);
  border: 3px rgba(239,227,2,1) solid;
  width: 80px;
  height: 25px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: -18px;
  left: 60px;
  z-index: 20;
  box-shadow: 0px 2px 4px #bbb;    
}



