Source: mia
Section: science
Priority: optional
Maintainer: Niels Lohmann <niels.lohmann@uni-rostock.de>
Build-Depends: debhelper (>= 5), autotools-dev
Standards-Version: 3.8.0
Homepage: http://service-technology.org/mia

Package: mia
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: graphviz
Description: a tool to calculate migration information
  Mia is a tool to calculate migration information.

