
#tabs
{
	background:#eee;
	padding-left:0;
	padding-right:60px;
}


#tabs ul
{
	list-style-type:none;
	margin:0;
	overflow:hidden;
	padding:0;
}

#tabs li
{
	float:left;
}

#tabs a
{
	color:#FFF;
	display:block;
	font-size:19px;
	margin-bottom:0;
	margin-right:1px;
	margin-top:0;
	padding:4px 20px;
	text-decoration:none;
	text-shadow:#333 0 0 2px;
	text-transform:uppercase;
}

#tabs a.current
{
	background:#444;
}

#tabs a.ncurrent
{
	background:#666;
}

#tabs a:hover
{
	background:#444;
}