<?xml version="1.0" encoding="UTF-8"?>
<?pde version="3.2"?>

<target name="Seda Java SE 5">

   <targetJRE>
      <execEnv>J2SE-1.5</execEnv>
   </targetJRE>

   <location useDefault="true"/>

   <content>
      <plugins>
      </plugins>
      <features>
         <feature id="hub.top.seda.rcp"/>
      </features>
   </content>

</target>
