<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>&lt;em&gt;Standard continuos integration job for Patricia&lt;/em&gt;</description>
  <displayName>Patricia</displayName>
  <logRotator>
    <daysToKeep>-1</daysToKeep>
    <numToKeep>10</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.SubversionSCM">
    <locations>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>http://svn.gna.org/svn/service-tech/trunk/patricia</remote>
        <local>.</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
    </locations>
    <browser class="hudson.scm.browsers.ViewSVN">
      <url>http://svn.gna.org/viewcvs/service-tech/</url>
    </browser>
    <excludedRegions></excludedRegions>
    <includedRegions></includedRegions>
    <excludedUsers></excludedUsers>
    <excludedRevprop></excludedRevprop>
    <excludedCommitMessages></excludedCommitMessages>
    <workspaceUpdater class="hudson.scm.subversion.UpdateWithCleanUpdater"/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector">
    <hudson.triggers.SCMTrigger>
      <spec>*/5 * * * *</spec>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>wget http://svn.gna.org/viewcvs/*checkout*/service-tech/trunk/_build/build.xml -O build.xml</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Ant>
      <targets></targets>
      <antName>ant</antName>
      <properties>package=patricia</properties>
    </hudson.tasks.Ant>
  </builders>
  <publishers>
    <hudson.plugins.warnings.WarningsPublisher>
      <healthy></healthy>
      <unHealthy></unHealthy>
      <thresholdLimit>low</thresholdLimit>
      <pluginName>[WARNINGS] </pluginName>
      <defaultEncoding></defaultEncoding>
      <canRunOnFailed>false</canRunOnFailed>
      <useDeltaValues>false</useDeltaValues>
      <thresholds>
        <unstableTotalAll></unstableTotalAll>
        <unstableTotalHigh></unstableTotalHigh>
        <unstableTotalNormal></unstableTotalNormal>
        <unstableTotalLow></unstableTotalLow>
        <failedTotalAll></failedTotalAll>
        <failedTotalHigh></failedTotalHigh>
        <failedTotalNormal></failedTotalNormal>
        <failedTotalLow></failedTotalLow>
      </thresholds>
      <shouldDetectModules>false</shouldDetectModules>
      <dontComputeNew>true</dontComputeNew>
      <parserConfigurations/>
      <consoleLogParsers>
        <string>GNU compiler 4 (gcc)</string>
      </consoleLogParsers>
    </hudson.plugins.warnings.WarningsPublisher>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>artifacts/**</artifacts>
      <latestOnly>false</latestOnly>
    </hudson.tasks.ArtifactArchiver>
    <hudson.plugins.plot.PlotPublisher>
      <plots>
        <hudson.plugins.plot.Plot>
          <title>Branch Coverage</title>
          <yaxis>branches</yaxis>
          <series>
            <hudson.plugins.plot.PropertiesSeries>
              <file>plot_totalbranches</file>
              <label>total branches</label>
              <fileType>properties</fileType>
            </hudson.plugins.plot.PropertiesSeries>
            <hudson.plugins.plot.PropertiesSeries>
              <file>plot_coveredbranches</file>
              <label>covered branches</label>
              <fileType>properties</fileType>
            </hudson.plugins.plot.PropertiesSeries>
          </series>
          <group>Code Coverage</group>
          <numBuilds></numBuilds>
          <csvFileName>406131750.csv</csvFileName>
          <csvLastModification>0</csvLastModification>
          <style>line</style>
          <useDescr>false</useDescr>
        </hudson.plugins.plot.Plot>
        <hudson.plugins.plot.Plot>
          <title>Line Coverage</title>
          <yaxis>lines</yaxis>
          <series>
            <hudson.plugins.plot.PropertiesSeries>
              <file>plot_totallines</file>
              <label>total lines</label>
              <fileType>properties</fileType>
            </hudson.plugins.plot.PropertiesSeries>
            <hudson.plugins.plot.PropertiesSeries>
              <file>plot_coveredlines</file>
              <label>covered lines</label>
              <fileType>properties</fileType>
            </hudson.plugins.plot.PropertiesSeries>
          </series>
          <group>Code Coverage</group>
          <numBuilds></numBuilds>
          <csvFileName>307685798.csv</csvFileName>
          <csvLastModification>0</csvLastModification>
          <style>line</style>
          <useDescr>false</useDescr>
        </hudson.plugins.plot.Plot>
        <hudson.plugins.plot.Plot>
          <title>Function Coverage</title>
          <yaxis>functions</yaxis>
          <series>
            <hudson.plugins.plot.PropertiesSeries>
              <file>plot_totalfunctions</file>
              <label>total functions</label>
              <fileType>properties</fileType>
            </hudson.plugins.plot.PropertiesSeries>
            <hudson.plugins.plot.PropertiesSeries>
              <file>plot_coveredfunctions</file>
              <label>covered functions</label>
              <fileType>properties</fileType>
            </hudson.plugins.plot.PropertiesSeries>
          </series>
          <group>Code Coverage</group>
          <numBuilds></numBuilds>
          <csvFileName>1867150305.csv</csvFileName>
          <csvLastModification>0</csvLastModification>
          <style>line</style>
          <useDescr>false</useDescr>
        </hudson.plugins.plot.Plot>
      </plots>
    </hudson.plugins.plot.PlotPublisher>
    <hudson.plugins.doclinks.DocLinksPublisher>
      <documents>
        <hudson.plugins.doclinks.Document>
          <title>Code Coverage</title>
          <directory>tests/cover-html</directory>
          <recursive>true</recursive>
          <id>1</id>
        </hudson.plugins.doclinks.Document>
        <hudson.plugins.doclinks.Document>
          <title>Doxygen</title>
          <directory>doc/doxygen</directory>
          <recursive>true</recursive>
          <id>2</id>
        </hudson.plugins.doclinks.Document>
        <hudson.plugins.doclinks.Document>
          <title>StatSVN</title>
          <directory>statsvn</directory>
          <recursive>true</recursive>
          <id>3</id>
        </hudson.plugins.doclinks.Document>
      </documents>
    </hudson.plugins.doclinks.DocLinksPublisher>
    <org.jenkinsci.plugins.cppcheck.CppcheckPublisher>
      <cppcheckConfig>
        <pattern></pattern>
        <ignoreBlankFiles>true</ignoreBlankFiles>
        <configSeverityEvaluation>
          <threshold></threshold>
          <newThreshold></newThreshold>
          <failureThreshold></failureThreshold>
          <newFailureThreshold></newFailureThreshold>
          <healthy></healthy>
          <unHealthy></unHealthy>
          <severityError>true</severityError>
          <severityWarning>true</severityWarning>
          <severityStyle>true</severityStyle>
          <severityPerformance>true</severityPerformance>
          <severityInformation>true</severityInformation>
        </configSeverityEvaluation>
        <configGraph>
          <xSize>500</xSize>
          <ySize>200</ySize>
          <displayAllErrors>true</displayAllErrors>
          <displayErrorSeverity>false</displayErrorSeverity>
          <displayWarningSeverity>false</displayWarningSeverity>
          <displayStyleSeverity>false</displayStyleSeverity>
          <displayPerformanceSeverity>false</displayPerformanceSeverity>
          <displayInformationSeverity>false</displayInformationSeverity>
        </configGraph>
      </cppcheckConfig>
    </org.jenkinsci.plugins.cppcheck.CppcheckPublisher>
  </publishers>
  <buildWrappers/>
</project>