<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="hub.top.GRETA.run.actionSet1"
            label="Adaptive System Actions"
            visible="true">
         <action
               class="hub.top.greta.run.actions.AdaptiveProcessStep"
               disabledIcon="icons/adaptiveProcessStepDisabled4.png"
               icon="icons/adaptiveProcessStepEnabled4.png"
               id="hub.top.GRETA.run.step"
               label="go one step in adaptive process"
               menubarPath="hub.top.GRETA.menus.gretaMenu/execute"
               style="push"
               toolbarPath="hub.top.GRETA.toolbars.gretaToolbar/execute"
               tooltip="go one step in adaptive process">
         </action>
         <action
               class="hub.top.greta.run.actions.CheckOclets"
               disabledIcon="icons/wellformedOcletsOK4.png"
               icon="icons/wellformedOcletsFrage1.png"
               id="hub.top.GRETA.run.checkOclets"
               label="check wellformedness of oclets"
               menubarPath="hub.top.GRETA.menus.gretaMenu/execute"
               style="push"
               toolbarPath="hub.top.GRETA.toolbars.gretaToolbar/execute"
               tooltip="check wellformedness of oclets">
         </action>
         <action
               class="hub.top.greta.run.actions.OcletDependencies"
               id="hub.top.GRETA.run.ocletDependencies"
               label="check dependencies"
               menubarPath="hub.top.GRETA.menus.gretaMenu/analysis"
               style="push"
               tooltip="check dependencies of oclets">
         </action>
         <action
               class="hub.top.greta.run.actions.BuildStateSpace"
               id="hub.top.GRETA.run.buildStateSpace"
               label="build transition system"
               menubarPath="hub.top.GRETA.menus.gretaMenu/analysis"
               style="push"
               tooltip="build state space of the system">
         </action>
         <action
               class="hub.top.greta.run.actions.BuildBranchingProcess"
               id="hub.top.GRETA.run.buildBranchingProcess"
               label="build branching process"
               menubarPath="hub.top.GRETA.menus.gretaMenu/analysis"
               style="push"
               tooltip="build branching process of the system">
         </action>
         <action
               class="hub.top.greta.run.actions.InstantiateSystem"
               id="hub.top.GRETA.run.instantiateSystem"
               label="instantiate system"
               menubarPath="hub.top.GRETA.menus.gretaMenu/model"
               style="push"
               tooltip="instantiate the system">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="hub.top.GRETA.menus.gretaMenu"
               label="Greta"
               mnemonic="G">
            <separator
                  name="execute"
                  visible="true">
            </separator>
            <separator
                  name="analysis"
                  visible="true">
            </separator>
            <separator
                  name="model"
                  visible="true">
            </separator>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <menu
               id="hub.top.GRETA.toolbars.gretaToolbar"
               label="Greta">
            <separator
                  name="execute"
                  visible="true">
            </separator>
            <separator
                  name="analysis"
                  visible="true">
            </separator>
         </menu>
      </menuContribution>
   </extension>

</plugin>
