.paper_list 
{
  padding-right: 20px;
}

.paper_list ul 
{
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  padding-left: 0px;
  margin-top: 20px;
}

.paper_list li 
{
  margin-bottom: 20px;
  margin-top: 0px;
}

.paper_list a 
{
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 1px;
}
