html
{
	height:100%;
	margin:0;
	overflow-y:scroll;
	padding:0;
}

body
{
	background:#aaa9a9;
	font-family:'Open Sans Condensed', 'Open sans', sans;
	height:100%;
	margin:0;
	padding:0;
}

#mainframe
{
	background:#FFF;
	border:0;
	height:100%;
	margin-bottom:0;
	margin-left:auto;
	margin-right:auto;
	max-width:1024px;
	min-width:690px;
	padding:0;
}

#shadowbox
{
	border:0;
	box-shadow:0 0 16px #333;
	height:100%;
	margin:0;
	padding:0;
}

#topspacer
{
	background:#aaa9a9;
	height:0;
	margin:0;
	padding:0;
}

#navigation
{
	box-shadow:0 0 2px #333;
	margin-bottom:10px;
}

#header
{
	background:#FFF;
	height:102px;
	padding-bottom:8px;
	padding-top:30px;
	text-align:center;
}

#titlenav
{
	background:#444;
	height:55px;
	position:relative;
}

#nav
{
	background:inherit;
	bottom:0;
	margin:auto;
	position:absolute;
	right:20px;
	top:0;
}

#pagetitle
{
	background:inherit;
	bottom:0;
	left:20px;
	margin:auto;
	padding-bottom:5px;
	position:absolute;
	top:0;
}

#tabs
{
	background:#eee;
	padding-left:0;
	padding-right:60px;
}

#content
{
	background:#FFF;
	margin-top:0;
	padding:5px 60px 5px 40px;
	position:relative;
}

#tabs ul
{
	list-style-type:none;
	margin:0;
	overflow:hidden;
	padding:0;
}

#tabs li
{
	float:left;
}

#tabs a
{
	color:#FFF;
	display:block;
	font-size:19px;
	margin-bottom:0;
	margin-right:1px;
	margin-top:0;
	padding:4px 20px;
	text-decoration:none;
	text-shadow:#333 0 0 2px;
	text-transform:uppercase;
}

#tabs a.current
{
	background:#444;
}

#tabs a.ncurrent
{
	background:#666;
}

#tabs a:hover
{
	background:#444;
}

#nav ul
{
	list-style-type:none;
	margin:0;
	overflow:hidden;
	padding:0;
}

#nav li
{
	float:left;
}

#nav a
{
	background-color:inherit;
	border-bottom:1px solid #fff;
	color:#FFF;
	display:block;
	font-size:19px;
	line-height:20px;
	text-decoration:none;
	text-transform:uppercase;
}

#people
{
	background:url(icons/people.png) no-repeat 5px 11px;
	padding-left:27px;
}

#tools
{
	background:url(icons/tools.png) no-repeat 4px 11px;
	padding-left:23px;
}

#pub
{
	background:url(icons/pub.png) no-repeat 5px 11px;
	padding-left:27px;
}

.seperator
{
	background:#555;
	float:left;
	height:20px;
	margin:19px 0 9px;
	padding-bottom:3px;
	padding-left:0;
	padding-right:0;
	width:2px;
}

#nav a:link
{
	color:#FFF;
	text-decoration:none;
}

#nav a:visited
{
	color:#FFF;
	text-decoration:none;
}

#nav a:hover
{
	background-color:#02aeed;
	text-decoration:none;
}

#nav a:active
{
	color:#02aeed;
	text-decoration:none;
}

#nav a.current
{
	border-bottom:9px solid #02aeed;
	margin:10px 1px 1px;
	padding-bottom:7px;
	padding-right:5px;
	padding-top:9px;
}

#nav a.ncurrent
{
	border-bottom:3px solid #02aeed;
	margin:10px 1px 1px;
	padding-bottom:13px;
	padding-right:5px;
	padding-top:9px;
}

#content h2
{
	border-bottom:1px solid #efefef;
	color:#444;
	font-size:29px;
	margin-bottom:5px;
	text-transform:uppercase;
}

#content h3
{
	break-after:avoid;
	break-before:column;
	color:#444;
	font-size:24px;
	margin-bottom:0;
	margin-top:20px;
	moz-break-after:avoid;
	moz-break-before:column;
	text-transform:uppercase;
	webkit-break-after:avoid;
	webkit-break-before:column;
}

#pagetitle h1
{
	color:#02aeed;
	display:inline;
	font-size:37px;
	font-weight:700;
	line-height:50px;
	text-shadow:#333 0 0 2px;
}

#pagetitle a:first-child
{
	color:#FFF;
	font-weight:400;
	text-decoration:none;
}

#pagetitle a
{
	color:#FFF;
	font-weight:700;
	text-decoration:none;
}

#pagetitle a:link
{
	text-decoration:none;
}

#pagetitle a:visited
{
	text-decoration:none;
}

#pagetitle a:hover
{
	color:#02aeed;
	text-decoration:none;
}

#content p
{
	color:#000;
	font-size:19px;
	line-height:32px;
	margin:2px 0 0;
}

#content div
{
	color:#000;
	font-size:19px;
	line-height:32px;
	margin:2px 0 0;
}

img.portrait
{
	border:1px solid #444;
	box-shadow:0 0 3px #333;
	margin-right:4px;
}

.clearspace 
{
  clear: both; 
  height: 20px;
}

 #content a:link, #content a:visited 
 {
  color: inherit;
  text-decoration: none;
  border-bottom: 2px solid #02aeed;
}

#content a:hover 
{
  color: white;
  background-color: #02aeed;
  text-decoration: none;
}
