#universities 
{
  float: left;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
}  

#universities img 
{
  vertical-align: middle;
  margin-bottom: 10px;
  margin-top: 0px;
  margin-right: 20px;
  opacity:0.9;
}

#universities img:hover 
{
  opacity:1;
}

#universities a:link, #universities a:visited 
 {
  border: 0px;
}

#universities a:hover 
{
  border: 0px;
  background: white;
}

#intro 
{
  padding-top: 10px;
}

#mw 
{
  position: relative;
  left: 55px;
  top: 20px;
}

#mw div.most-wanted 
{
  display: block;
  float: left;
  margin-left: 0px;
  margin-right: 30px;
  box-shadow: 0px 0px 10px #efefef; 
  width: 400px;
  border: 1px #efefef solid;
  background: #fcfcfc;
}

#mw div h3 
{
  display: block;
  margin: 0;
  padding: 10px;
  color: white;
}

#mw div:first-child h3 
{
  padding-left: 36px;
  background: url(icons/tools.png) no-repeat 12px 19px, #444;
}

#mw div:nth-child(2n) h3 
{
  padding-left: 40px;
  background: url(icons/pub.png) no-repeat 12px 19px, #444;
}


#mw div ul 
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 228px;
  overflow: auto;
}

#mw div ul li 
{
  padding-left: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 12px;
  border-bottom: 1px solid #efefef;
  background: #FCFCFC;
}

#mw div ul li:hover 
{
  background: white;
}

#mw div:first-child em:before 
{
  content: " — ";
}

#mw li.mw-overview 
{
  text-align: right;
}

