#tool-list li 
{
  line-height: 32px;
} 

#tool-list, #tool-list ul 
{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#tool-list 
{
  margin-top: 20px;
}

#tool-list ul:first-child 
{
  margin-bottom: 20px;
  text-transform: none;
  font-weight: normal;
}

#tool-list 
{
  text-transform: uppercase;
  font-weight: bold;
}


#tool-list em:before 
{
  content: " — ";
}

#tools-overview {
  padding: 20px;
}
