<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="hub.top.editor.commands.category"
            id="hub.top.editor.commands.checkConfidentiality"
            name="Check Confidentiality of Transitions">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.st.anica.ui.CheckConfidentiality"
            commandId="hub.top.editor.commands.checkConfidentiality">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="hub.top.editor.menus.petrinetsMenu"
               label="Petri Nets"
               mnemonic="M">
            <command
                  commandId="hub.top.editor.commands.checkConfidentiality"
                  id="hub.top.editor.menus.checkConfidentiality"
                  label="Check Confidentiality"
                  mnemonic="C">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="hub.top.editor.toolbars.petrinetsToolbar">
            <command
                  commandId="hub.top.editor.commands.checkConfidentiality"
                  id="hub.top.editor.toolbars.checkConfidentiality"
                  label="Check Confidentiality"
                  tooltip="check confidentiality">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.st.anica.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>   
   
      <!-- the preferences page for Anica -->
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="hub.top.editor.preferences.Seda_PetriNetsPreferencePage"
            class="org.st.anica.ui.preferences.AnicaUI_PreferencePage"
            id="org.st.anica.ui.preferences.AnicaUI_PreferencePage"
            name="Anica">
      </page>
   </extension>
</plugin>
