html
{
	height:100%;
	margin:0;
	overflow-y:scroll;
	padding:0;
}

body
{
	background:#aaa9a9;
	font-family:'Open Sans Condensed', 'Open sans', sans;
	height:100%;
	margin:0;
	padding:0;
}

#mainframe
{
	background:#FFF;
	border:0;
	height:100%;
	margin-bottom:0;
	margin-left:auto;
	margin-right:auto;
	max-width:1024px;
	min-width:690px;
	padding:0;
}

#shadowbox
{
	border:0;
	box-shadow:0 0 16px #333;
	height:100%;
	margin:0;
	padding:0;
}

#topspacer
{
	background:#aaa9a9;
	height:0;
	margin:0;
	padding:0;
}

#navigation
{
	box-shadow:0 0 2px #333;
}

#header
{
	background:#FFF;
	height:102px;
	padding-bottom:8px;
	padding-top:30px;
	text-align:center;
}

#content
{
//  background: -webkit-linear-gradient(top, #e1e1e1 0%,#efefef 30%,#fafafa 50%, rgb(255,255,255) 100%); /* Chrome10+,Safari5.1+ */
  background: white;
	margin-top:0;
	padding:15px 60px 5px 40px;
	position:relative;
}