#titlenav
{
	background:#444;
	height:55px;
	position:relative;
}

#nav
{
	background:inherit;
	bottom:0;
	margin:auto;
	position:absolute;
	right:20px;
	top:0;
}

#pagetitle
{
	background:inherit;
	bottom:0;
	left:20px;
	margin:auto;
	padding-bottom:5px;
	position:absolute;
	top:0;
}



#nav ul
{
	list-style-type:none;
	margin:0;
	overflow:hidden;
	padding:0;
}

#nav li
{
	float:left;
}

#nav a
{
	background-color:inherit;
	border-bottom:1px solid #fff;
	color:#FFF;
	display:block;
	font-size:19px;
	line-height:20px;
	text-decoration:none;
	text-transform:uppercase;
}

#people
{
	background:url(../icons/people.png) no-repeat 5px 11px;
	padding-left:27px;
}

#tools
{
	background:url(../icons/tools.png) no-repeat 4px 11px;
	padding-left:23px;
}

#pub
{
	background:url(../icons/pub.png) no-repeat 5px 11px;
	padding-left:27px;
}

.seperator
{
	background:#555;
	float:left;
	height:20px;
	margin:19px 0 9px;
	padding-bottom:3px;
	padding-left:0;
	padding-right:0;
	width:2px;
}

#nav a:link
{
	color:#FFF;
	text-decoration:none;
}

#nav a:visited
{
	color:#FFF;
	text-decoration:none;
}

#nav a:hover
{
	background-color:#02aeed;
	text-decoration:none;
}

#nav a:active
{
	color:#02aeed;
	text-decoration:none;
}

#nav a.current
{
	border-bottom:9px solid #02aeed;
	margin:10px 1px 1px;
	padding-bottom:7px;
	padding-right:5px;
	padding-top:9px;
}

#nav a.ncurrent
{
	border-bottom:3px solid #02aeed;
	margin:10px 1px 1px;
	padding-bottom:13px;
	padding-right:5px;
	padding-top:9px;
}


#pagetitle h1
{
	color:#02aeed;
	display:inline;
	font-size:37px;
	font-weight:700;
	line-height:50px;
	text-shadow:#333 0 0 2px;
}

#pagetitle a:first-child
{
	color:#FFF;
	font-weight:400;
	text-decoration:none;
}

#pagetitle a
{
	color:#FFF;
	font-weight:700;
	text-decoration:none;
}

#pagetitle a:link
{
	text-decoration:none;
}

#pagetitle a:visited
{
	text-decoration:none;
}

#pagetitle a:hover
{
	color:#02aeed;
	text-decoration:none;
}