Source: fiona
Section: science
Priority: optional
Maintainer: Niels Lohmann <niels.lohmann@uni-rostock.de>
Build-Depends: debhelper (>= 5), autotools-dev
Standards-Version: 3.8.0
Homepage: http://service-technology.org/fiona

Package: fiona
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: graphviz
Description: a tool to check behavioral correctness of a service
 Fiona is a tool designed to check behavioral correctness of a service
 and to analyze the interaction of services in service oriented
 architectures, for instance. It implements very efficient data
 structures and algorithms, which have partly been adapted from the
 Petri net model-checker LoLA. Fiona has been proven to be applicable in
 practice by service designers, service publishers, and service brokers.

