<tool>
    <name>@PACKAGE_NAME@</name>
    <shortname>@PACKAGE_TARNAME@</shortname>

    <lastVersion>@PACKAGE_VERSION@</lastVersion>
    <officialVersion>@OFFICIAL_VERSION@</officialVersion>

    <path>@TRUNK@</path>

    <url>@PACKAGE_URL@</url>
    <email>@PACKAGE_BUGREPORT@</email>
</tool>
