    <tool id="@TOOLID@">
        <name>@PACKAGE_NAME@</name>
        <shortname>@PACKAGE_TARNAME@</shortname>
        <path>@TRUNK@</path>
        <lastVersion>@PACKAGE_VERSION@</lastVersion>
        <officialVersion>@OFFICIAL_VERSION@</officialVersion>
        <url>@PACKAGE_URL@</url>
        <email>@PACKAGE_BUGREPORT@</email>
    </tool>

