,
{
  "id": "@TOOLID@",
  "name": "@PACKAGE_NAME@",
  "shortname": "@PACKAGE_TARNAME@",
  "path": "@TRUNK@",
  "lastVersion": "@PACKAGE_VERSION@",
  "officialVersion": "@OFFICIAL_VERSION@",
  "url": "@PACKAGE_URL@",
  "email": "@PACKAGE_BUGREPORT@"
}
