Source: marlene
Section: science
Priority: optional
Maintainer: Christian Gierds <gierds@informatik.hu-berlin.de>
Build-Depends: debhelper (>= 5), autotools-dev
Standards-Version: 3.8.0
Homepage: http://service-technology.org/marlene

Package: marlene
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: graphviz
Description: a tool to synthesize behavioral adapters
  Marlene is a tool to synthesize behavioral adapters.

